<% include ../header %>
<div class="well">
  <form method="POST" class="form-horizontal" enctype="multipart/form-data">
    <div class="control-group">
      <label class="control-label" for="name">名称</label>

      <div class="controls">
        <input type="text" name="name" id="name">
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary" type="submit">添加分组</button>
      </div>
    </div>
  </form>
</div>
<% include ../footer %>
